<section>
  <h1>Find Me On</h1>
  <ul>
    <li><a href="http://github.com/84115">Github</a></li>
    <li><a href="http://plus.google.com/u/0/101335028874759353340">Google+</a></li>
    <li><a href="http://jsfiddle.net/user/84115/fiddles/">JsFiddle</a></li>
    <li><a href="http://steamcommunity.com/id/84115">Steam</a></li>
    <li><a href="http://twitter.com/J_84115">Twitter</a></li>
  </ul>

  <h1>Friends</h1>
  <ul>
    <li><a target="_blank" href="http://alfieblincowe.wordpress.com/">Alfie Blincowe</a></li>
    <li><a target="_blank" href="http://crossesinboxes.org/">Crosses In Boxes</a></li>
  </ul>
</section>
