// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$header-bg: #333 image-url('bg.png') !default;
$header-border: #444 !default;

$nav-bg-back: #bbb !default;

.youtube-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtube-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include shadow-box;
}